<form enctype="multipart/form-data" method="post">
    {% csrf_token %}
    
    {% for campo7 in formulario7 %}
    <div class="mb-3">
        <label for="" class="form-label">{{ campo7.label }}</label>

        <input type="{{ campo7.field.widget.input_type }}"
         class="form-control" name="{{ campo7.name }}" id="" aria-describedby="helpId" placeholder="{{ campo7.label }}" value="{{ campo7.value | default:'' }}" >

    </div>
    <div class="col-12 help-text"> {{ campo7.errors }}</div>
    {% endfor %}

    <input name="" id="" class="btn btn-success" type="submit" value="Guardar">
    <a name="" class="btn btn-primary" href="{% url 'jornadas' %}" role="button">Regresar</a>

</form>